body{
    background-color: white;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: rgb(76, 76, 76);
    width: 100%;
    color: white;
}

.navitem{
    padding-left: 20px;
}

.h2a{
    color: white;
}

a{
    color: rgb(158, 158, 158);
    text-decoration: none;
}

.BannerSzeruValami{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    width: 100%;
}

.banneritem{
    padding: 10%;
    text-align: center;
    font-size: x-large;
}

.nev{
    font-weight: lighter;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    font-size: large;
    font-weight: 500;
}

mark{
    font-weight: bold;
    background-color: white;
}

.kepdiv{
    text-align: center;
    color: rgb(158, 158, 158);
}

.kepdiv, img{
    height: 250px;
    border-radius: 5px;
    margin-left: 10px;
}